/* Reset và base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

h1 {
  margin-bottom: 20px;
}

.table {
  margin-top: 20px;
}

.btn {
  margin-right: 5px;
}
