/* Reset và base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.breadcrumb {
  margin: 20px 0;
  font-size: 14px;
}
.breadcrumb a {
  color: #000;
  text-decoration: none;
}
.breadcrumb .active {
  color: #6c757d;
}
