* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #f5f5f5;
}

/* Logo & Menu */
.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px 50px;
}

.logo {
  height: 60px;
}

/* nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold !important;
} */
/* .container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
}

.breadcrumb {
  font-size: 14px;
  margin-bottom: 20px;
} */
.LienHe {
  font-weight: bold;
  font-size: 18px;
}
/* .breadcrumb a {
  font-size: 18px;
  text-decoration: none;
  color: #333;
} */

h2 {
  color: #333;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 18px;
}

textarea {
  height: 100px;
}

button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: darkorange;
}

.contact-info {
  width: 35%;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

h4 {
  margin: 0;
  color: #333;
}

p {
  margin: 5px 0 0;
  color: #666;
}
