RewriteEngine On

# Chuyển hướng /article → /page/article.php
RewriteRule ^article$ /page/article.php [L]

# Chuyển hướng /articleList → /page/articleList.php
RewriteRule ^articleList$ /page/articleList.php [L]

# Chuyển hướng /product → /page/Product.php
RewriteRule ^product$ /page/Product.php [L]

# Chuyển hướng /productList → /page/ProductList.php
RewriteRule ^productList$ /page/ProductList.php [L]

# Chuyển hướng /user → /page/nguoidung.php
RewriteRule ^user$ /page/nguoidung.php [L]

# Chuyển hướng /contact → /page/tranglienhe.php
RewriteRule ^contact$ /page/tranglienhe.php [L]
