RewriteEngine On

# Chuyển hướng / → /index.php
RewriteRule ^$ /index.php [L]

# Chuyển hướng /article → /page/article.php
RewriteRule ^article$ /page/article.php [L]

# Chuyển hướng /articleList → /page/articleList.php
RewriteRule ^articleList$ /page/articleList.php [L]

# Chuyển hướng /cart → /page/Cart.php
RewriteRule ^cart$ /page/Cart.php [L]

# Chuyển hướng /product → /page/Product.php
RewriteRule ^product$ /page/Product.php [L]

# Chuyển hướng /productList → /page/ProductList.php
RewriteRule ^productList$ /page/ProductList.php [L]

# Chuyển hướng /contact → /page/tranglienhe.php
RewriteRule ^contact$ /page/tranglienhe.php [L]

# Chuyển hướng /user → /page/trangthongtin.php
RewriteRule ^user$ /page/trangthongtin.php [L]

# Chuyển hướng /signin → /page/trangdangnhap.html
RewriteRule ^signin$ /page/trangdangnhap.html [L]

# Chuyển hướng /admin → /admin/index.php
RewriteRule ^admin$ /admin/index.php [L]

# Chuyển hướng /admin/home → /admin/HomeAdmin.php
RewriteRule ^admin/home$ /admin/HomeAdmin.php [L]

# Chuyển hướng /admin/customer → /admin/CustomerAdmin.php
RewriteRule ^admin/customer$ /admin/CustomerAdmin.php [L]

# Chuyển hướng /admin/intro → /admin/IntroAdmin.php
RewriteRule ^admin/intro$ /admin/IntroAdmin.php [L]

# Chuyển hướng /admin/q_a → /admin/Q_AAdmin.php
RewriteRule ^admin/q_a$ /admin/Q_AAdmin.php [L]

# Chuyển hướng /admin/product → /admin/ProductAdmin.php
RewriteRule ^admin/product$ /admin/ProductAdmin.php [L]

# Chuyển hướng /admin/order → /admin/OrderAdmin.php
RewriteRule ^admin/order$ /admin/OrderAdmin.php [L]

# Chuyển hướng /admin/comment → /admin/CommentAdmin.php
RewriteRule ^admin/comment$ /admin/CommentAdmin.php [L]

# Chuyển hướng /admin/article → /admin/ArticleAdmin.php
RewriteRule ^admin/article$ /admin/ArticleAdmin.php [L]

# Chuyển hướng /admin/account → /admin/AccountAdmin.php
RewriteRule ^admin/account$ /admin/AccountAdmin.php [L]

